body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: red;
  background-color: black;
  display: inline-block;
  padding: 20px;
}
p{
  background-color: black;
  color: white;
  padding: 20px;
}